
* {
  box-sizing: border-box;
}

.header {
  background-color: rgb(0, 158, 201);
  color: white;

}
.header h1, p {
  position: relative;
  left: 175px;
}

.header-links {
  background-color: lightgrey;
}

.header-links a {
  color: black;
  position: relative;
  left: 175px;
}



.footer {
  background-color: rgb(44, 0, 0);
  color: white;
}

.footer a {
  color: white;
}

.footer img, p {
  position: relative;
  left: 175px;
}

.footer-links a {
  position: relative;
  left: 175px;
}

.main-section p {
  position: relative;
  left: 0px;
  color: black;
}

.main-section h2 {
  color: rgb(0, 158, 201);
}

.side-section a {
  color: rgb(0, 158, 201);
}
