
* {
  box-sizing: border-box;
}

.out-of-sight {
  position: relative;
  left: -10000px;
  top: auto;
}

.out-of-sight:focus {
  left: 0;
}

.header {
  background-color: #115E73;
  color: #FAFAFF;

}
.header-content {
  position: relative;
  left: 175px;
}

.header-links {
  background-color: lightgrey;
  height: 2rem;
}

.header-links a {
  color: black;
  position: relative;
  left: 175px;
  padding: 1rem;
}



.footer {
  background-color: rgb(44, 0, 0);
  color: white;
  clear: right;
}

.footer a {
  color: white;
}

.footer img, p {
  position: relative;
  left: 400px;
}

.footer-links a {
  position: relative;
  left: 400px;
  padding: 1rem;
}

#kitty-article {
  color: rgb(0, 158, 201);
}

.main-section {

  float: left;
  margin-right: 50rem;

}

.main-section p {
  position: relative;
  left: 175px;
  color: black;

}

.main-section h2 {
  position: relative;
  left: 175px;


}

.main-section h2 {
  color: rgb(0, 158, 201);
}

.side-section {
  float: right;
}

.side-section p {
  left: 0px;
}



.side-section a {
  color: rgb(0, 158, 201);
}
